In [1]:
import pandas as pd
import numpy as np

## 기본

In [2]:
df = pd.DataFrame({
    'a':[0,1,2,3,4,15],
    'b':[11,12,13,14,15,16]
})

In [3]:
df

    a   b
0   0  11
1   1  12
2   2  13
3   3  14
4   4  15
5  15  16

In [4]:
df['a'].astype(str).str.zfill(2)

0    00
1    01
2    02
3    03
4    04
5    15
Name: a, dtype: object

## 함수화

In [5]:
def str_zfill(data):
    str_zfill = data.astype(str).str.zfill(3)
    return str_zfill

In [6]:
str_zfill(df['b'])

0    011
1    012
2    013
3    014
4    015
5    016
Name: b, dtype: object

## apply 적용

In [13]:
str_zfill(df['a'])

0    000
1    001
2    002
3    003
4    004
5    015
Name: a, dtype: object

In [16]:
df.apply(lambda x : str_zfill(x))

     a    b
0  000  011
1  001  012
2  002  013
3  003  014
4  004  015
5  015  016